<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Rod Okrzei, Rodzinne Ogródki Działkowe Okrzei, Rod Okrzei Częstochowa, www.rodokrzei.pl">
    <title>Rod Okrzei - @ViewBag.Title</title>
    <link href="~/Content/lib/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <meta name="google-site-verification" content="0uilwPj7K2sbjMlywKbdHhuicQd1DmYdM9_N78d-J-8" />
</head>
<body>
    <div class="app">
        
        @Html.Partial("_TitleBar")

        <header class="header">
            <div class="container">
                <div style="display: flex;">

                    <div>
                        <a href="/" style="overflow: auto; display: block; position: relative;">
                            <div style="float: left; padding-right: 130px">
                                <img src="~/Content/images/logo4.png" height="100px" />
                            </div>
                            <div style="position: absolute; top: 0; left: 150px; font-family: 'Lobster Two', cursive; height: 100px; text-align: center; padding-top: 30px; color: inherit">
                                <div style="font-size: 40px">Rod Okrzei</div>
                                <div style="font-size: 18px; padding-top: 5px;">Częstochowa</div>
                            </div>
                        </a>
                    </div>

                    @Html.Partial("_Menu")
                    
                </div>
            </div>
        </header>
        <main class="main">
            @RenderBody()
        </main>
        <div class="spacer"></div>
        <footer class="footer">
            <div class="container">
                Wszystkie prawa zastrzeżone &copy; @DateTime.Now.Year <br />Oficjalna strona ROD Okrzei w Częstochowie
            </div>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="~/Content/lib/bootstrap/bootstrap.bundle.min.js"></script>
</body>
</html>
